body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #307a97;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 294.08Q80.11 254.19%2c 120 334.3Q153.13 247.43%2c 240 280.56Q309.39 229.95%2c 360 299.34Q425.19 292.53%2c 432 357.72Q501.07 306.79%2c 552 375.86Q597.32 301.18%2c 672 346.5Q679.38 281.88%2c 744 289.27Q811.08 236.35%2c 864 303.42Q935.33 302.75%2c 936 374.08Q973.91 291.99%2c 1056 329.9Q1082.92 284.82%2c 1128 311.75Q1184.71 296.46%2c 1200 353.17Q1231.2 264.38%2c 1320 295.58Q1396.97 252.55%2c 1440 329.53Q1482.01 299.54%2c 1512 341.56z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 350.93Q42.23 321.16%2c 72 363.4Q144.65 316.05%2c 192 388.71Q245.23 321.94%2c 312 375.17Q340.31 331.49%2c 384 359.8Q481.08 336.88%2c 504 433.96Q519.63 377.58%2c 576 393.21Q622.99 320.2%2c 696 367.19Q763.55 314.74%2c 816 382.28Q894.43 340.71%2c 936 419.14Q939.17 350.31%2c 1008 353.47Q1072.47 345.94%2c 1080 410.41Q1129.74 388.15%2c 1152 437.9Q1177.65 343.55%2c 1272 369.21Q1299.1 324.31%2c 1344 351.41Q1440.49 327.9%2c 1464 424.4z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 466.68Q42.81 437.5%2c 72 480.31Q126.16 462.47%2c 144 516.63Q145.87 446.5%2c 216 448.37Q242.39 402.76%2c 288 429.15Q382.2 403.35%2c 408 497.54Q416.05 433.59%2c 480 441.63Q545.63 387.26%2c 600 452.9Q660.84 441.74%2c 672 502.57Q697.19 455.76%2c 744 480.95Q785.57 450.52%2c 816 492.09Q852.71 408.8%2c 936 445.52Q1001.16 390.69%2c 1056 455.85Q1136.27 416.12%2c 1176 496.39Q1200.94 449.33%2c 1248 474.28Q1328.73 435.01%2c 1368 515.74Q1373 448.74%2c 1440 453.74Q1508.28 402.02%2c 1560 470.31z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 525.17Q47.46 452.63%2c 120 500.08Q221.14 481.22%2c 240 582.35Q278.72 501.07%2c 360 539.78Q430.1 489.88%2c 480 559.97Q524.89 484.87%2c 600 529.76Q661.64 519.4%2c 672 581.05Q688.28 477.33%2c 792 493.61Q835.15 464.76%2c 864 507.92Q958.78 482.7%2c 984 577.48Q998 519.48%2c 1056 533.48Q1072.27 477.75%2c 1128 494.03Q1193.75 439.78%2c 1248 505.53Q1322.76 508.29%2c 1320 583.06Q1310.63 501.69%2c 1392 492.33Q1429.56 457.88%2c 1464 495.44z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: aqua;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    color: bisque;
    font-size: 18px;
    text-align: justify;
}
